.search-header {
  display: flex;
  padding: 2em 2em;
  justify-content: space-between;
  /* border-bottom: var(--primary-border); */
  border-left: var(--primary-border);
  border-right: var(--primary-border);
}

.search-header__logo {
  padding: 0.5em;
  font-size: 1.5rem;
}

.search-header__search-box {
  background: var(--primary-white);
  border: var(--primary-border);
  /* padding: 0.5em; */
  max-width: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.5em;
}

.search-header__search-input {
  background-color: var(--primary-white);
  /* height: 100%; */
  outline: none;
  border: none;
  font-size: 1.5rem;
  width: 90%;
}

.search-header__search-img {
  padding: 0.5em;
}
