.main-section {
  width: 100%;
  border-top: var(--primary-border);
  border-right: var(--primary-border);
  margin-bottom: var(--primary-padding);
}
.sub-header {
  display: flex;
  max-width: calc(100% - 4rem);
  width: 100%;
  padding: var(--primary-padding);
  justify-content: space-between;
}

.sub-header__sort-btn {
  padding: 0.5em;
  border-radius: 0.5em;
  background: var(--primary-white);
}

.main-section__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-content: center;
  align-items: center;
  margin: 0 var(--primary-padding);
  gap: var(--primary-padding);
}

@media only screen and (max-width: 768px) {
  .main-section__cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .sub-header {
    max-width: calc(100% - 2rem);
  }
}
